.container {
  padding: 0 2rem;
}

.title {
  font-size: 64px;
  text-align: left;
  margin-left: 5rem;
}

.box {
  margin: auto;
  text-align: center;
}
.btn {
  width: 18rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin-top: 300px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
