.container {
  width: 320px;
  height: 100px;
  border-radius: 10px;
  background-color: blue;
}
.topBox {
  width: 100%;
  height: 25%;
}
.topBoxText {
  font-size: 15px;
}

.middleBox {
  font-size: 12px;
}

.bottomBoxText {
  font-size: 14px;
}
.middleBox {
  width: 100%;
  /* height: 50%; */
}
.bottomBox {
  width: 100%;
  height: 25%;
}
